
.pageContainer {
  display: grid;
  height: 100vh;
  background-color: #1f1e2e;
  width: 100vw;
    overflow: hidden;

  grid-template-rows: calc(10% - 35px) calc(90% - 35px);
  grid-template-columns: calc(50% - 35px) calc(50% - 35px);

  gap: 30px;

  color: white;
  font-family: Raleway, sans-serif;
  box-sizing: border-box;
  padding: 15px;
}

.header {
  grid-column: 1 / 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.397);
  font-size: 27px;
  letter-spacing: 1px;
}

.headerImage {
  position: absolute;
  left: 25px;
  top: 42%;
  transform: translateY(-50%);
  object-fit: contain;
  border-radius: 8px;
  opacity: 0.6;
}

.headerText {
  text-align: center;
  font-weight: 500;
}

.logout {
  position: absolute;
  right: 25px;
  top: 54%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease;
}

.logout:hover {
  opacity: 1;
}
.leftSection {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.rightContainer {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  /* background-color: red; */
}

.rightTop,
.rightBottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  border-radius: 10px;
}

.rightTop {
  margin-bottom: 35px;
}
