.container {
    background-color: #203b45;
    height: 100%;
    width: 100%;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.194) 0px 5px 15px;
}



.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Raleway";
    font-size: 17px;
    color: rgba(255, 255, 255, 0.159);
    letter-spacing: 0.7px;
    font-weight: bold;
}
